[Unit]
Description=islami.click
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/YOUR_APP_DIR
ExecStart=/opt/YOUR_APP_DIR/islami.click
Restart=on-failure
Environment=PORT=8080
Environment=DB_PATH=/opt/YOUR_APP_DIR/data/islami.db

[Install]
WantedBy=multi-user.target
