[Unit]
Description=islami.click
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/islami.click
ExecStart=/var/www/islami.click/islami.click
Restart=on-failure
Environment=PORT=8080
Environment=DB_PATH=/var/www/islami.click/data/islami.db

[Install]
WantedBy=multi-user.target
