@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .arabic {
    font-family: "Amiri", "Scheherazade New", serif;
    direction: rtl;
    text-align: right;
    line-height: 2;
  }
}
